<aside
  class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
  id="logo-sidebar"
  aria-label="Sidebar"
>
  <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
    <ul class="my-2 text-base">
      @for (menuItem of menuItems; track menuItem.id) {
      @if(menuType(menuItem).isVisible){
      <ng-vibe-menu-item [menuItem]="menuItem" />
      } }
    </ul>
  </div>
</aside>
